# Slack
SLACK_BOT_TOKEN=""
SLACK_APP_TOKEN=""
SLACK_ADMIN_ID=""
SLACK_ADMIN_NAME=""

# Postgres
POSTGRES_DB=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
# "db" = Docker Compose service name
POSTGRES_USER=""
POSTGRES_PORT=""

# Optional: external DB
EXTERNAL_POSTGRES_HOST=
EXTERNAL_POSTGRES_PORT=